<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.SmartTech.hrapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".AddDeviceActivity"></activity>
        <activity android:name=".DevicesActivity" />
        <activity
            android:name=".AddUserActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".NotificationsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity
            android:name=".Activites.Users.UsersActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity
            android:name=".UserActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity
            android:name=".Activites.Home.HomeActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity
            android:name=".Activites.Login.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|stateHidden" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>